---
import Layout from '../layouts/Layout.astro';
import StartQuiz from '../components/StartQuiz.tsx';
---

<Layout title="Quiz">
  <main class="container flex items-center justify-center h-screen">
    <StartQuiz client:load />
  </main>
</Layout>
