---
import Layout from '../layouts/Layout.astro';
import StartQuiz from '../components/StartQuiz.tsx';
---

<Layout title="Quiz">
  <main class="container">
    <StartQuiz client:load />
  </main>
</Layout>
